<!-- <div class="modal" id="writeModal">
  <h2>글쓰기</h2>
  <div class="write-form">
    <div class="form-group">
      <label for="title">제목</label>
      <input type="text" id="title" required>
    </div>
    <div class="form-group">
      <label for="subtitle">부제목</label>
      <input type="text" id="subtitle" required>
    </div>
    <div class="form-group">
      <label for="editor">내용</label>
      <div id="editor" required></div>
    </div>
  <div class="button-group">
    <button class="submit-btn" id="submitButton">등록</button>
    <button class="cancel-btn" id="cancelButton">취소</button>
</div>
  </div>
</div> -->